.board-container {
    position: relative;
    margin: 0 auto;
    width: 590px;
    height: 590px;
}

.tile-container {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}