.game-over-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(32, 32, 31, 0.842);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    border-radius: 6px;
}

.overlay-content{
    text-align: center;
    color: #ffffff;
}

.overlay-content h2{
    font-size: 60px;
    margin: 0;
}

.overlay-content p {
    font-size: 24px;
}

.overlay-content button {
    background-color: #b58354;
    color: #f9f6f2;
    border: none;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}