.score-display{
    background-color: #bbada0;
    padding: 10px 25px;
    min-width: 100px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.score-display .label{
    color: #eee4da;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

.score-display .score{
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
}